body{
		color: #333333;
		font-family: "Lucida	Sans	Unicode",	"Lucida	Grande",	sans-serif;
	}
	
h1	{
		background-image:	url(C:/Users/muril/Documents/caelum-arquivos-curso-web/mirrorfashion/img/sobre-background.jpg);
	}
	
h2	{
		border-bottom: 2px	solid	#333333;
	}
	
figure  {
			background-color: #F2EDED;
			border: 1px		groove	#ccc;
			text-align:	center;
	    }
	
figcaption	{
			font-style:	italic;
	}
	
body	{
			background:	white;
	}
						
h1	{
				color:	black;
		}

h1	{
			padding: 10px;
}

h2	{
			margin-top: 30px;
}

p	{
			padding: 0 45px;
			text-indent: 15px;
			color: black;
}

figure	{
	padding: 15px;
	margin: 30px;
}

figcaption	{
	margin-top: 10px;
}

body	{
	margin-left:	auto;
	margin-right:	auto;
	width: 940px;
}

#centro-distribuicao	{
	margin-left:	auto;
	margin-right:	auto;
	width: 550px;
}

#rodape	{
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}
#rodape img	{
	margin-right: 30px;
	vertical-align:	middle;
	width: 94px;
}

#familia-pelho	{
	float:	right;
	margin: 0 0 10px 10px;
}

.busca,
.menu-departamentos	{
				float:	left;
}